@font-face {
  font-family: "standardbold";
  src: url("../fonts/standard-bold-webfont.eot");
  src: url("../fonts/standard-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/standard-bold-webfont.woff2") format("woff2"), url("../fonts/standard-bold-webfont.woff") format("woff"), url("../fonts/standard-bold-webfont.ttf") format("truetype"), url("../fonts/standard-bold-webfont.svg#standardbold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 14px;
}
@media screen and (orientation: portrait) and (max-width: 834px) {
  html {
    font-size: 16px;
  }
}
@media screen and (orientation: portrait) and (max-width: 500px) {
  html {
    font-size: 12px;
  }
}
@media screen and (orientation: portrait) and (max-width: 375px) {
  html {
    font-size: 3vw;
  }
}
@media screen and (orientation: landscape) and (max-width: 812px) {
  html {
    font-size: 10px;
  }
}

html, body {
  font-family: "standardbold", Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
  color: #000;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  height: calc( var( --vh, 1vh ) * 100 );
  overflow: hidden;
}

h1 {
  font-size: 1rem;
  font-weight: inherit;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: contents;
}

#cursor {
  width: 0.8em;
  height: 0.8rem;
  left: -1rem;
  top: -1rem;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  position: absolute;
  z-index: 99999;
  pointer-events: none;
}
#cursor:before {
  content: var(--cursor);
}

header, footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 1.75rem;
  padding: 0.3rem;
  box-sizing: border-box;
  width: 100%;
}
header > *, footer > * {
  display: inherit;
  margin: 0;
}

footer {
  z-index: 99999;
  position: absolute;
  bottom: 0;
  background: #fff;
}
@media (orientation: portrait) {
  footer {
    height: 3rem;
  }
}

main {
  position: relative;
  width: 100%;
  height: calc( 100vh - 3.5rem );
  height: calc( var( --vh, 1vh ) * 100 - 3.5rem );
}
@media (orientation: portrait) {
  main {
    height: calc( 100vh - 4.75rem );
    height: calc( var( --vh, 1vh ) * 100 - 4.75rem );
  }
}

aside {
  width: 50vw;
  height: 100%;
  position: absolute;
  top: 0;
  cursor: none;
}
aside:last-child {
  right: 0;
}

figure {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.4s;
}

ul {
  display: flex;
  padding-inline-start: 0;
  margin: 0;
}

li {
  list-style-type: none;
  list-style-position: inside;
  white-space: nowrap;
}
li:not(:first-child) {
  list-style-type: " - ";
}