<template>
    <div><h1>Marine Montagné</h1>&nbsp;–&nbsp;Design graphique</div>
    
    <p><a href="mailto:contact.m.montagne@gmail.com">contact.m.montagne@gmail.com</a>&nbsp;–&nbsp;<a href="https://www.instagram.com/marine_montagne/" target="_blank">@marine_montagne</a></p>
</template>