<template>
    <main>
        <figure v-for="( image, n ) in images.slice().reverse()" :key="n">
            <img v-if="n > images.length - 2" :src="`./${ image }`" style="opacity:1;">
            <img v-else :data-src="`./${ image }`">
        </figure>
        <aside @click="prevNext( 0 )" @mouseover="leftHover" @mouseleave="mouseLeave">&nbsp;</aside>
        <aside @click="prevNext( 1 )" @mouseover="rightHover" @mouseleave="mouseLeave">&nbsp;</aside>
    </main>
</template>

<script>
import { ref } from '@vue/reactivity';

let n = ref( 0 ),
    isPaused = ref( true );

export default {

    props: {

        images: {

            type: Array,
            required: true,

        },

    },

    mounted() {

        const sliderList = document.querySelectorAll( "figure" ),
            length = sliderList.length - 1;

        lazyLoad( sliderList, length - 1 );

        setInterval( () => {

            if ( !isPaused.value ) {

                newSlide( sliderList, length, n.value );

                n.value = n.value === length ? 0 : n.value + 1;
                
            }
            
        }, 3000);


    },

    setup() {

        const prevNext = direction => {

            isPaused.value = true;

            const sliderList = document.querySelectorAll( "figure" ),
                length = sliderList.length - 1;

            newSlide( sliderList, length, n.value, direction );

            if ( direction === 0 ) {

                n.value = n.value === 0 ? length : n.value - 1;
                
            } else {

                n.value = n.value === length ? 0 : n.value + 1;

            }

            setTimeout( () => {

                isPaused.value = false;
                
            }, 1500 );
        
        }

        let root = document.documentElement;
        const leftHover = () => {
            
            root.style.setProperty( '--cursor', "url( https://marinemontagne.com/assets/img/precedent.svg )" )
            
        }, rightHover = () => {
            
            root.style.setProperty( '--cursor', "url( https://marinemontagne.com/assets/img/suivant.svg )" )
            
        }, mouseLeave = () => {
            
            root.style.setProperty( '--cursor', "none" )
            
        };

        return {
            
            prevNext,
            leftHover,
            rightHover,
            mouseLeave,
        
        }

    }

}

const lazyLoad = ( sliderList, i ) => {

    const img = sliderList[ i ].querySelector( "img" );
          img.src = img.dataset.src;
          img.removeAttribute( "data-src" );

    if ( i > 4 && isPaused.value === true ) { isPaused.value = false; }

    img.onload = function() {

        if ( i !== 0 ) { i--; lazyLoad( sliderList, i ); }

    }

}, newSlide = ( sliderList, length, n, direction ) => {

    const actualNum = length - n;
    const active = sliderList[ actualNum ];
    const activeImg = active.querySelector( "img" );
    
    let newSlide = sliderList[ actualNum ];

    if ( direction === 0 ) {

        newSlide = actualNum === length ? sliderList[ 0 ] : sliderList[ actualNum + 1 ];
        
    } else {

        newSlide = actualNum === 0 ? sliderList[ length ] : sliderList[ actualNum - 1 ];

    }

    activeImg.style.opacity = 0;
    newSlide.querySelector( "img" ).style.opacity = 1;
    
}
</script>

<style>

</style>